*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
XMPlayer/src/main/java/com/engineers/united/unitedengineers/Activity2.java
XMPlayer/src/main/java/com/engineers/united/unitedengineers/Activity3.java
XMPlayer/google-services.json
